db.sqlite3
*~
CACHE

#[VIRTUAL ENVIRONMENT]
venv
qbotik_venv

#[PYTHON]
*.pyc
*.pyo
media/

#[PYCHARM]
.idea

#[ECLIPSE]
.project
.pydevproject
.settings
.metadata

#[DJANGO]
*.log
.sass-cache
*.swo
*.swp
*.dill
*.p
.coverage
celerybeat-schedule
celerybeat.pid

#[MAC]
.DS_Store
