{% extends 'qbotik_app/base.html' %}
{% load static %}
{% block content %}
    <div>
        <section class="count_block">
            <div class="container">

                <div class="row marl  justify-content-center">
                    <div class="col-lg-10">
                        <h1 class="heading publico_reg text-center gs_reveal">We are one <span class="text-decoration-underline">Global Team</span>
                            <div class="row marl count_block_container  justify-content-center">
                                <div class="col-lg-4">
                                    <div class="timeline text-start gs_reveal gs_reveal_fromRight">
                                        <p class="mb-0">2017</p>
                                        <span>Founded</span>
                                    </div>
                                    <div class="timeline text-start gs_reveal gs_reveal_fromRight">
                                        <p class="mb-0">05</p>
                                        <span>Global Offices</span>
                                    </div>
                                    <div class="timeline text-start gs_reveal gs_reveal_fromRight">
                                        <p class="mb-0">2017</p>
                                        <span>Privately Owned</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 container">
                                    <div class="box">
                                        <img class="object-fit_cover" src="{% static 'images/About/Rectangle 1 2.png' %}" alt="logo">
                                    </div>
                                    <div class="box overlay">
                                        <img class="object-fit_cover" src="{% static 'images/About/Layer 74_cropped.jpeg' %}" alt="logo">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="timeline text-start gs_reveal gs_reveal_fromLeft">
                                        <p class="mb-0">100+</p>
                                        <span>Consultants</span>
                                    </div>
                                    <div class="timeline text-start gs_reveal gs_reveal_fromLeft">
                                        <p class="mb-0">30+</p>
                                        <span>Clients</span>
                                    </div>
                                    <div class="timeline text-start gs_reveal gs_reveal_fromLeft">
                                        <p class="mb-0">100%</p>
                                        <span>New Technology</span>
                                    </div>
                                </div>
                            </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="content_block">
            <div class="container">
                <div class="row marl  justify-content-center text-center">
                    <div class="col-lg-9">
                        <p  class="gs_reveal ipsType_center">Corporate Recruitment, Digital Recruitment & an Energy Trading Specialist, all in one place.</p>
                        <p  class="gs_reveal ipsType_center">The Network of professional Consultants who have provided their Services within the Qbotik framework is quite exceptional and truly unique. This Network represents many of the leading Consultants who have delivered innovative,
                            best-in-class global projects which played a critical role in the success of the high-profile Companies that Qbotik partners with for the Recruitment of Contract and Permanent Human Resources.</p>
                        <p  class="gs_reveal ipsType_center">As well as Recruitment, we also offer a Managed Service Provider solution and Recruitment Process Outsourcing services, complementing our Payrolling division that was established in 2008.</p>
                        <p  class="gs_reveal ipsType_center">Most of what we do revolves around placing IT, Technology, Marketing and Change Management Contractors into challenging roles and exciting projects. The Company's success is driven from an in-depth knowledge of technical markets
                            and specialised business sectors. Combining this expertise with transparent, sensible pricing levels and a database that is not available anywhere else in the world makes Qbotik Recruitment unique.</p>
                        <p  class="gs_reveal ipsType_center">If you are looking for a Recruitment Partner that will work with you in forming an Open, Collaborative and Consultative Partnership, talk to one of our Recruitment Specialists today to learn for yourself how different it is working
                            with Qbotik Recruitment.</p>
                        <p  class="gs_reveal ipsType_center">Our Recruitment Consultants consistently locate the very best Talent with a focus within: Emerging Technologies, Niche Technical IT and Digital Skills, Azure Cloud Computing and Architecture, Enterprise Software Development, Mobile
                            and Web Applications, User Experience, Digital Design, Product Management, User Integration, Development Operations, Business Analysis, Agile Project Management, Technical Implementation, Data Science & Analytics, Artificial
                            Intelligence, Change Management, Business Readiness, Marketing & Communications.</p>
                        <p  class="gs_reveal ipsType_center">Don't just take our word for it: A quick visit to the Reviews on our Trustpilot page should also point you in the right direction.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="core_values">
            <div class="container">
                <div class="row marl_mob  justify-content-center text-center core_values_row">
                    <div class="col-lg-6">
                        <h2 class="heading core-values publico_reg">Core<span class="text-decoration-underline">Values</span></h2>
                            <p class=" line-1 anim-typewriter">Laying the foundations for a dynamic, Service driven company working to a Traditional set of Values</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="image_cards mt-4">

            <div class="container">
                <div class="row ">
                    <div class="col-lg-4">
                        <div class="card gs_reveal gs_reveal_fromLeft">
                            <img src="{% static 'images/About/Layer 78.png' %}" class="card-img-top img-fluid" />
                            <div class="card-body">
                                <h5 class="card-title publico_reg">Quality</h5>
                                <p class="card-text">Every aspect of Service Delivery from initial contact with Qbotik Recruitment, through every stage of the Recruitment & Resourcing Lifecycle, & beyond, is constantly tracked & monitored.</p>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="card mt-4 gs_reveal">
                            <img src="{% static 'images/About/Layer 77.png' %}" class="card-img-top img-fluid" />
                            <div class="card-body">
                                <h5 class="card-title publico_reg">Legal Advice</h5>
                                <p class="card-text">Legal advice has been drawn from the expertise of Lawspeed, one of the UK's leading full service law firms recognised for its expertise in advising on Recruitment sector issues, and from Lexence in the Netherlands.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-5">
                        <div class="card gs_reveal gs_reveal_fromRight">
                            <img src="{% static 'images/About/Layer 79.png' %}" class="card-img-top img-fluid" />
                            <div class="card-body">
                                <h5 class="card-title publico_reg">Diversity</h5>
                                <p class="card-text ">Qbotik Recruitment works to the highest levels of professionalism with regard to all Legal aspects of recruitment and resourcing to protect ourselves and our customers from discrimination of any kind.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                        <a href="#" class="find_more">Find out more <img src="{% static 'images/home/Layer 70.png' %}" class="ms-4" alt="icon"></a>

                    </div>
                </div>
            </div>
        </section>

    </div>

{% endblock content %}
{% block extra_script %}
    <script src="{% static 'js/about_animations.js' %}"></script>
{% endblock extra_script %}